MeetMe+/Connected Services/ClientService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Friends_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:Friends_SelectAll" />
  </wsdl:message>
  <wsdl:message name="IService_Friends_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:Friends_SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Friend_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:Friend_SelectById" />
  </wsdl:message>
  <wsdl:message name="IService_Friend_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:Friend_SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Friends_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Friends_Insert" />
  </wsdl:message>
  <wsdl:message name="IService_Friends_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Friends_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Friends_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Friends_Update" />
  </wsdl:message>
  <wsdl:message name="IService_Friends_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:Friends_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Friends_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Friends_Delete" />
  </wsdl:message>
  <wsdl:message name="IService_Friends_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:Friends_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Friend_SelectByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:Friend_SelectByUser" />
  </wsdl:message>
  <wsdl:message name="IService_Friend_SelectByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Friend_SelectByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Friends_DeleteByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:Friends_DeleteByUser" />
  </wsdl:message>
  <wsdl:message name="IService_Friends_DeleteByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Friends_DeleteByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Friend_SelectByUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:Friend_SelectByUsers" />
  </wsdl:message>
  <wsdl:message name="IService_Friend_SelectByUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:Friend_SelectByUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Users_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:Users_SelectAll" />
  </wsdl:message>
  <wsdl:message name="IService_Users_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:Users_SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_User_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:User_SelectById" />
  </wsdl:message>
  <wsdl:message name="IService_User_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:User_SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_User_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:User_Search" />
  </wsdl:message>
  <wsdl:message name="IService_User_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:User_SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Users_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Users_Insert" />
  </wsdl:message>
  <wsdl:message name="IService_Users_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Users_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Users_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Users_Update" />
  </wsdl:message>
  <wsdl:message name="IService_Users_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:Users_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Users_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Users_Delete" />
  </wsdl:message>
  <wsdl:message name="IService_Users_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:Users_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_User_SelectLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:User_SelectLogin" />
  </wsdl:message>
  <wsdl:message name="IService_User_SelectLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:User_SelectLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_User_FindUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:User_FindUsername" />
  </wsdl:message>
  <wsdl:message name="IService_User_FindUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:User_FindUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_User_SelectAllBesidesUser_InputMessage">
    <wsdl:part name="parameters" element="tns:User_SelectAllBesidesUser" />
  </wsdl:message>
  <wsdl:message name="IService_User_SelectAllBesidesUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:User_SelectAllBesidesUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Meetings_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:Meetings_SelectAll" />
  </wsdl:message>
  <wsdl:message name="IService_Meetings_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meetings_SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Meeting_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:Meeting_SelectById" />
  </wsdl:message>
  <wsdl:message name="IService_Meeting_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meeting_SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Meetings_SelectByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:Meetings_SelectByUser" />
  </wsdl:message>
  <wsdl:message name="IService_Meetings_SelectByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meetings_SelectByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Meetings_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Meetings_Insert" />
  </wsdl:message>
  <wsdl:message name="IService_Meetings_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meetings_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Meetings_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Meetings_Update" />
  </wsdl:message>
  <wsdl:message name="IService_Meetings_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meetings_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Meetings_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Meetings_Delete" />
  </wsdl:message>
  <wsdl:message name="IService_Meetings_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meetings_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Meetings_SelectAllBesidesUser_InputMessage">
    <wsdl:part name="parameters" element="tns:Meetings_SelectAllBesidesUser" />
  </wsdl:message>
  <wsdl:message name="IService_Meetings_SelectAllBesidesUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meetings_SelectAllBesidesUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Meetings_DeleteByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:Meetings_DeleteByUser" />
  </wsdl:message>
  <wsdl:message name="IService_Meetings_DeleteByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Meetings_DeleteByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Messages_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:Messages_SelectAll" />
  </wsdl:message>
  <wsdl:message name="IService_Messages_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:Messages_SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Message_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:Message_SelectById" />
  </wsdl:message>
  <wsdl:message name="IService_Message_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:Message_SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Message_SelectByChat_InputMessage">
    <wsdl:part name="parameters" element="tns:Message_SelectByChat" />
  </wsdl:message>
  <wsdl:message name="IService_Message_SelectByChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:Message_SelectByChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Message_SearchTextInChat_InputMessage">
    <wsdl:part name="parameters" element="tns:Message_SearchTextInChat" />
  </wsdl:message>
  <wsdl:message name="IService_Message_SearchTextInChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:Message_SearchTextInChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Message_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Message_Insert" />
  </wsdl:message>
  <wsdl:message name="IService_Message_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Message_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Message_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Message_Update" />
  </wsdl:message>
  <wsdl:message name="IService_Message_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:Message_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Message_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Message_Delete" />
  </wsdl:message>
  <wsdl:message name="IService_Message_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:Message_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Message_DeleteFromChat_InputMessage">
    <wsdl:part name="parameters" element="tns:Message_DeleteFromChat" />
  </wsdl:message>
  <wsdl:message name="IService_Message_DeleteFromChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:Message_DeleteFromChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Messages_DeleteByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:Messages_DeleteByUser" />
  </wsdl:message>
  <wsdl:message name="IService_Messages_DeleteByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Messages_DeleteByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentsInMeeting_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentsInMeeting_SelectAll" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentsInMeeting_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentsInMeeting_SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentInMeeting_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentInMeeting_SelectById" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentInMeeting_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentInMeeting_SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentsInMeeting_SelectByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentsInMeeting_SelectByUser" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentsInMeeting_SelectByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentsInMeeting_SelectByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentsInMeeting_SelectByMeeting_InputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentsInMeeting_SelectByMeeting" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentsInMeeting_SelectByMeeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentsInMeeting_SelectByMeetingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentInMeeting_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentInMeeting_Insert" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentInMeeting_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentInMeeting_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentInMeeting_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentInMeeting_Update" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentInMeeting_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentInMeeting_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentInMeeting_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentInMeeting_Delete" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentInMeeting_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentInMeeting_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentsInMeeting_DeleteByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentsInMeeting_DeleteByUser" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentsInMeeting_DeleteByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentsInMeeting_DeleteByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentsInMeeting_DeleteByMeeting_InputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentsInMeeting_DeleteByMeeting" />
  </wsdl:message>
  <wsdl:message name="IService_ParticipentsInMeeting_DeleteByMeeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParticipentsInMeeting_DeleteByMeetingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:Chat_SelectAll" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:Chat_SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_SelectId_InputMessage">
    <wsdl:part name="parameters" element="tns:Chat_SelectId" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_SelectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:Chat_SelectIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_SelectByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:Chat_SelectByUser" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_SelectByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Chat_SelectByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_SelectByUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:Chat_SelectByUsers" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_SelectByUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:Chat_SelectByUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_SearchText_InputMessage">
    <wsdl:part name="parameters" element="tns:Chat_SearchText" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_SearchText_OutputMessage">
    <wsdl:part name="parameters" element="tns:Chat_SearchTextResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Chat_Insert" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Chat_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Chat_Update" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:Chat_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Chat_Delete" />
  </wsdl:message>
  <wsdl:message name="IService_Chat_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:Chat_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetProfPic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfPic" />
  </wsdl:message>
  <wsdl:message name="IService_GetProfPic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfPicResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveImage" />
  </wsdl:message>
  <wsdl:message name="IService_SaveImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteImage_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImage" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UserTypes_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:UserTypes_SelectAll" />
  </wsdl:message>
  <wsdl:message name="IService_UserTypes_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserTypes_SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UserType_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:UserType_SelectById" />
  </wsdl:message>
  <wsdl:message name="IService_UserType_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserType_SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UserTypes_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:UserTypes_Insert" />
  </wsdl:message>
  <wsdl:message name="IService_UserTypes_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserTypes_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UserTypes_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:UserTypes_Update" />
  </wsdl:message>
  <wsdl:message name="IService_UserTypes_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserTypes_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UserTypes_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:UserTypes_Delete" />
  </wsdl:message>
  <wsdl:message name="IService_UserTypes_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserTypes_DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Friends_SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Friends_SelectAll" message="tns:IService_Friends_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Friends_SelectAllResponse" message="tns:IService_Friends_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Friend_SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Friend_SelectById" message="tns:IService_Friend_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Friend_SelectByIdResponse" message="tns:IService_Friend_SelectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Friends_Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Friends_Insert" message="tns:IService_Friends_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Friends_InsertResponse" message="tns:IService_Friends_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Friends_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Friends_Update" message="tns:IService_Friends_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Friends_UpdateResponse" message="tns:IService_Friends_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Friends_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Friends_Delete" message="tns:IService_Friends_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Friends_DeleteResponse" message="tns:IService_Friends_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Friend_SelectByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Friend_SelectByUser" message="tns:IService_Friend_SelectByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Friend_SelectByUserResponse" message="tns:IService_Friend_SelectByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Friends_DeleteByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Friends_DeleteByUser" message="tns:IService_Friends_DeleteByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Friends_DeleteByUserResponse" message="tns:IService_Friends_DeleteByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Friend_SelectByUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Friend_SelectByUsers" message="tns:IService_Friend_SelectByUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Friend_SelectByUsersResponse" message="tns:IService_Friend_SelectByUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Users_SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Users_SelectAll" message="tns:IService_Users_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Users_SelectAllResponse" message="tns:IService_Users_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="User_SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/User_SelectById" message="tns:IService_User_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/User_SelectByIdResponse" message="tns:IService_User_SelectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="User_Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/User_Search" message="tns:IService_User_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/User_SearchResponse" message="tns:IService_User_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Users_Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Users_Insert" message="tns:IService_Users_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Users_InsertResponse" message="tns:IService_Users_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Users_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Users_Update" message="tns:IService_Users_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Users_UpdateResponse" message="tns:IService_Users_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Users_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Users_Delete" message="tns:IService_Users_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Users_DeleteResponse" message="tns:IService_Users_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="User_SelectLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/User_SelectLogin" message="tns:IService_User_SelectLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/User_SelectLoginResponse" message="tns:IService_User_SelectLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="User_FindUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/User_FindUsername" message="tns:IService_User_FindUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/User_FindUsernameResponse" message="tns:IService_User_FindUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="User_SelectAllBesidesUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/User_SelectAllBesidesUser" message="tns:IService_User_SelectAllBesidesUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/User_SelectAllBesidesUserResponse" message="tns:IService_User_SelectAllBesidesUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meetings_SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Meetings_SelectAll" message="tns:IService_Meetings_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Meetings_SelectAllResponse" message="tns:IService_Meetings_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meeting_SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Meeting_SelectById" message="tns:IService_Meeting_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Meeting_SelectByIdResponse" message="tns:IService_Meeting_SelectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meetings_SelectByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Meetings_SelectByUser" message="tns:IService_Meetings_SelectByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Meetings_SelectByUserResponse" message="tns:IService_Meetings_SelectByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meetings_Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Meetings_Insert" message="tns:IService_Meetings_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Meetings_InsertResponse" message="tns:IService_Meetings_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meetings_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Meetings_Update" message="tns:IService_Meetings_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Meetings_UpdateResponse" message="tns:IService_Meetings_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meetings_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Meetings_Delete" message="tns:IService_Meetings_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Meetings_DeleteResponse" message="tns:IService_Meetings_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meetings_SelectAllBesidesUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Meetings_SelectAllBesidesUser" message="tns:IService_Meetings_SelectAllBesidesUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Meetings_SelectAllBesidesUserResponse" message="tns:IService_Meetings_SelectAllBesidesUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Meetings_DeleteByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Meetings_DeleteByUser" message="tns:IService_Meetings_DeleteByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Meetings_DeleteByUserResponse" message="tns:IService_Meetings_DeleteByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Messages_SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Messages_SelectAll" message="tns:IService_Messages_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Messages_SelectAllResponse" message="tns:IService_Messages_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Message_SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Message_SelectById" message="tns:IService_Message_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Message_SelectByIdResponse" message="tns:IService_Message_SelectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Message_SelectByChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Message_SelectByChat" message="tns:IService_Message_SelectByChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Message_SelectByChatResponse" message="tns:IService_Message_SelectByChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Message_SearchTextInChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Message_SearchTextInChat" message="tns:IService_Message_SearchTextInChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Message_SearchTextInChatResponse" message="tns:IService_Message_SearchTextInChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Message_Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Message_Insert" message="tns:IService_Message_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Message_InsertResponse" message="tns:IService_Message_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Message_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Message_Update" message="tns:IService_Message_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Message_UpdateResponse" message="tns:IService_Message_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Message_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Message_Delete" message="tns:IService_Message_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Message_DeleteResponse" message="tns:IService_Message_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Message_DeleteFromChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Message_DeleteFromChat" message="tns:IService_Message_DeleteFromChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Message_DeleteFromChatResponse" message="tns:IService_Message_DeleteFromChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Messages_DeleteByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Messages_DeleteByUser" message="tns:IService_Messages_DeleteByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Messages_DeleteByUserResponse" message="tns:IService_Messages_DeleteByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParticipentsInMeeting_SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParticipentsInMeeting_SelectAll" message="tns:IService_ParticipentsInMeeting_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParticipentsInMeeting_SelectAllResponse" message="tns:IService_ParticipentsInMeeting_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParticipentInMeeting_SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParticipentInMeeting_SelectById" message="tns:IService_ParticipentInMeeting_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParticipentInMeeting_SelectByIdResponse" message="tns:IService_ParticipentInMeeting_SelectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParticipentsInMeeting_SelectByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParticipentsInMeeting_SelectByUser" message="tns:IService_ParticipentsInMeeting_SelectByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParticipentsInMeeting_SelectByUserResponse" message="tns:IService_ParticipentsInMeeting_SelectByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParticipentsInMeeting_SelectByMeeting">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParticipentsInMeeting_SelectByMeeting" message="tns:IService_ParticipentsInMeeting_SelectByMeeting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParticipentsInMeeting_SelectByMeetingResponse" message="tns:IService_ParticipentsInMeeting_SelectByMeeting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParticipentInMeeting_Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParticipentInMeeting_Insert" message="tns:IService_ParticipentInMeeting_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParticipentInMeeting_InsertResponse" message="tns:IService_ParticipentInMeeting_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParticipentInMeeting_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParticipentInMeeting_Update" message="tns:IService_ParticipentInMeeting_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParticipentInMeeting_UpdateResponse" message="tns:IService_ParticipentInMeeting_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParticipentInMeeting_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParticipentInMeeting_Delete" message="tns:IService_ParticipentInMeeting_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParticipentInMeeting_DeleteResponse" message="tns:IService_ParticipentInMeeting_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParticipentsInMeeting_DeleteByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParticipentsInMeeting_DeleteByUser" message="tns:IService_ParticipentsInMeeting_DeleteByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParticipentsInMeeting_DeleteByUserResponse" message="tns:IService_ParticipentsInMeeting_DeleteByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParticipentsInMeeting_DeleteByMeeting">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParticipentsInMeeting_DeleteByMeeting" message="tns:IService_ParticipentsInMeeting_DeleteByMeeting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParticipentsInMeeting_DeleteByMeetingResponse" message="tns:IService_ParticipentsInMeeting_DeleteByMeeting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Chat_SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Chat_SelectAll" message="tns:IService_Chat_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Chat_SelectAllResponse" message="tns:IService_Chat_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Chat_SelectId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Chat_SelectId" message="tns:IService_Chat_SelectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Chat_SelectIdResponse" message="tns:IService_Chat_SelectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Chat_SelectByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Chat_SelectByUser" message="tns:IService_Chat_SelectByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Chat_SelectByUserResponse" message="tns:IService_Chat_SelectByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Chat_SelectByUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Chat_SelectByUsers" message="tns:IService_Chat_SelectByUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Chat_SelectByUsersResponse" message="tns:IService_Chat_SelectByUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Chat_SearchText">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Chat_SearchText" message="tns:IService_Chat_SearchText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Chat_SearchTextResponse" message="tns:IService_Chat_SearchText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Chat_Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Chat_Insert" message="tns:IService_Chat_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Chat_InsertResponse" message="tns:IService_Chat_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Chat_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Chat_Update" message="tns:IService_Chat_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Chat_UpdateResponse" message="tns:IService_Chat_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Chat_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Chat_Delete" message="tns:IService_Chat_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Chat_DeleteResponse" message="tns:IService_Chat_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfPic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProfPic" message="tns:IService_GetProfPic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProfPicResponse" message="tns:IService_GetProfPic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveImage" message="tns:IService_SaveImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveImageResponse" message="tns:IService_SaveImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteImage" message="tns:IService_DeleteImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteImageResponse" message="tns:IService_DeleteImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserTypes_SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UserTypes_SelectAll" message="tns:IService_UserTypes_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UserTypes_SelectAllResponse" message="tns:IService_UserTypes_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserType_SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UserType_SelectById" message="tns:IService_UserType_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UserType_SelectByIdResponse" message="tns:IService_UserType_SelectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserTypes_Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UserTypes_Insert" message="tns:IService_UserTypes_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UserTypes_InsertResponse" message="tns:IService_UserTypes_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserTypes_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UserTypes_Update" message="tns:IService_UserTypes_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UserTypes_UpdateResponse" message="tns:IService_UserTypes_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserTypes_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UserTypes_Delete" message="tns:IService_UserTypes_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UserTypes_DeleteResponse" message="tns:IService_UserTypes_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Friends_SelectAll">
      <soap:operation soapAction="http://tempuri.org/IService/Friends_SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Friend_SelectById">
      <soap:operation soapAction="http://tempuri.org/IService/Friend_SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Friends_Insert">
      <soap:operation soapAction="http://tempuri.org/IService/Friends_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Friends_Update">
      <soap:operation soapAction="http://tempuri.org/IService/Friends_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Friends_Delete">
      <soap:operation soapAction="http://tempuri.org/IService/Friends_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Friend_SelectByUser">
      <soap:operation soapAction="http://tempuri.org/IService/Friend_SelectByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Friends_DeleteByUser">
      <soap:operation soapAction="http://tempuri.org/IService/Friends_DeleteByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Friend_SelectByUsers">
      <soap:operation soapAction="http://tempuri.org/IService/Friend_SelectByUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Users_SelectAll">
      <soap:operation soapAction="http://tempuri.org/IService/Users_SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="User_SelectById">
      <soap:operation soapAction="http://tempuri.org/IService/User_SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="User_Search">
      <soap:operation soapAction="http://tempuri.org/IService/User_Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Users_Insert">
      <soap:operation soapAction="http://tempuri.org/IService/Users_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Users_Update">
      <soap:operation soapAction="http://tempuri.org/IService/Users_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Users_Delete">
      <soap:operation soapAction="http://tempuri.org/IService/Users_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="User_SelectLogin">
      <soap:operation soapAction="http://tempuri.org/IService/User_SelectLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="User_FindUsername">
      <soap:operation soapAction="http://tempuri.org/IService/User_FindUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="User_SelectAllBesidesUser">
      <soap:operation soapAction="http://tempuri.org/IService/User_SelectAllBesidesUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meetings_SelectAll">
      <soap:operation soapAction="http://tempuri.org/IService/Meetings_SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meeting_SelectById">
      <soap:operation soapAction="http://tempuri.org/IService/Meeting_SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meetings_SelectByUser">
      <soap:operation soapAction="http://tempuri.org/IService/Meetings_SelectByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meetings_Insert">
      <soap:operation soapAction="http://tempuri.org/IService/Meetings_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meetings_Update">
      <soap:operation soapAction="http://tempuri.org/IService/Meetings_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meetings_Delete">
      <soap:operation soapAction="http://tempuri.org/IService/Meetings_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meetings_SelectAllBesidesUser">
      <soap:operation soapAction="http://tempuri.org/IService/Meetings_SelectAllBesidesUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Meetings_DeleteByUser">
      <soap:operation soapAction="http://tempuri.org/IService/Meetings_DeleteByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Messages_SelectAll">
      <soap:operation soapAction="http://tempuri.org/IService/Messages_SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message_SelectById">
      <soap:operation soapAction="http://tempuri.org/IService/Message_SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message_SelectByChat">
      <soap:operation soapAction="http://tempuri.org/IService/Message_SelectByChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message_SearchTextInChat">
      <soap:operation soapAction="http://tempuri.org/IService/Message_SearchTextInChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message_Insert">
      <soap:operation soapAction="http://tempuri.org/IService/Message_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message_Update">
      <soap:operation soapAction="http://tempuri.org/IService/Message_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message_Delete">
      <soap:operation soapAction="http://tempuri.org/IService/Message_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message_DeleteFromChat">
      <soap:operation soapAction="http://tempuri.org/IService/Message_DeleteFromChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Messages_DeleteByUser">
      <soap:operation soapAction="http://tempuri.org/IService/Messages_DeleteByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParticipentsInMeeting_SelectAll">
      <soap:operation soapAction="http://tempuri.org/IService/ParticipentsInMeeting_SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParticipentInMeeting_SelectById">
      <soap:operation soapAction="http://tempuri.org/IService/ParticipentInMeeting_SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParticipentsInMeeting_SelectByUser">
      <soap:operation soapAction="http://tempuri.org/IService/ParticipentsInMeeting_SelectByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParticipentsInMeeting_SelectByMeeting">
      <soap:operation soapAction="http://tempuri.org/IService/ParticipentsInMeeting_SelectByMeeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParticipentInMeeting_Insert">
      <soap:operation soapAction="http://tempuri.org/IService/ParticipentInMeeting_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParticipentInMeeting_Update">
      <soap:operation soapAction="http://tempuri.org/IService/ParticipentInMeeting_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParticipentInMeeting_Delete">
      <soap:operation soapAction="http://tempuri.org/IService/ParticipentInMeeting_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParticipentsInMeeting_DeleteByUser">
      <soap:operation soapAction="http://tempuri.org/IService/ParticipentsInMeeting_DeleteByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParticipentsInMeeting_DeleteByMeeting">
      <soap:operation soapAction="http://tempuri.org/IService/ParticipentsInMeeting_DeleteByMeeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chat_SelectAll">
      <soap:operation soapAction="http://tempuri.org/IService/Chat_SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chat_SelectId">
      <soap:operation soapAction="http://tempuri.org/IService/Chat_SelectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chat_SelectByUser">
      <soap:operation soapAction="http://tempuri.org/IService/Chat_SelectByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chat_SelectByUsers">
      <soap:operation soapAction="http://tempuri.org/IService/Chat_SelectByUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chat_SearchText">
      <soap:operation soapAction="http://tempuri.org/IService/Chat_SearchText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chat_Insert">
      <soap:operation soapAction="http://tempuri.org/IService/Chat_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chat_Update">
      <soap:operation soapAction="http://tempuri.org/IService/Chat_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chat_Delete">
      <soap:operation soapAction="http://tempuri.org/IService/Chat_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfPic">
      <soap:operation soapAction="http://tempuri.org/IService/GetProfPic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveImage">
      <soap:operation soapAction="http://tempuri.org/IService/SaveImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserTypes_SelectAll">
      <soap:operation soapAction="http://tempuri.org/IService/UserTypes_SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserType_SelectById">
      <soap:operation soapAction="http://tempuri.org/IService/UserType_SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserTypes_Insert">
      <soap:operation soapAction="http://tempuri.org/IService/UserTypes_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserTypes_Update">
      <soap:operation soapAction="http://tempuri.org/IService/UserTypes_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserTypes_Delete">
      <soap:operation soapAction="http://tempuri.org/IService/UserTypes_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceModel/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>